{% extends "inicio/encabezado.html" %}

{% block titulo %}
    Principal
{% endblock %}
{% block image %}
    {% load static %}
    <img src="{% static 'inicio/images/home.png' %}" alt="Imagen principal">
{% endblock %}
{% block vista %}
    Principal
{% endblock %}
    
{% block contenido%}
    <!-- Contenido Principal-->
	<div class="page-content">
		<!--Encabezdo -->
		{% block encabezado %}
			<h3>Alumnos
			<small>Lista de Alumnos </small></h3>
		{% endblock %}
		<!-- /Encabezado-->
	</div>
	<!-- /Contenido Principal-->
{% endblock %}