{% extends "inicio/encabezado.html" %}

{% block titulo %}
    Principal
{% endblock %}
{% block image %}
    {% load static %}
    <img src="{% static 'inicio/images/home.png' %}" alt="Imagen principal">
{% endblock %}
{% block vista %}
    Principal
{% endblock %}
    
{% block contenido%}
    <!-- Contenido Principal-->
	<div class="page-content">
		<!--Encabezdo -->
		{% block encabezado %}
			<h3>Alumnos
			<small>Lista de Alumnos </small></h3>
		{% endblock %}
		<!-- /Encabezado-->

		<!-- Tabla de Alumnos -->
		<table class="table table-borderer table-striped">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Matricula</th>
					<th>Nombre</th>
					<th>Carrera</th>
					<th>Turno</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td class="text-center"><img src="" alt="" class="img-media"></td>
				<td class="text-semibold">UTM1234TIC</td>
				<td class="muted">Nathalia</td>
				<td class="muted">TIC</td>
				<td class="muted">Matutino</td>
				</tr>
			</tbody>
		</table>
		<!-- /Tabla -->
	</div>
	<!-- /Contenido Principal-->
{% endblock %}