{% extends "inicio/encabezado.html" %}

{% block titulo %}
    Consultas
{% endblock %}
{% block image %}
    {% load static %}
    <img src="{% static 'inicio/images/home.png' %}" alt="Imagen principal">
{% endblock %}
{% block vista %}
    Consultas
{% endblock %}
    
{% block contenido%}
    <!-- Contenido Principal-->
		<!--Encabezdo -->
		{% block encabezado %}
			<h3>Alumnos
			<small>Lista de Alumnos </small></h3>
		{% endblock %}
		<!-- /Encabezado-->

		<!-- Tabla de Alumnos -->
		<table class="table table-borderer table-striped">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Matricula</th>
					<th>Nombre</th>
					<th>Carrera</th>
					<th>Turno</th>
				</tr>
			</thead>
			<tbody>
				{% for alumno in alumnos %}
				<tr>
					<td class="text-center"><img src="{{alumno.imagen.url}}" alt="imagen_alumno" class="img-media"></td>
					<td class="text-semibold">{{alumno.matricula}}</td>
					<td class="muted">{{alumno.nombre}}</td>
					<td class="muted">{{alumno.carrera}}</td>
					<td class="muted">{{alumno.turno}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- /Tabla -->

	<!-- /Contenido Principal-->
{% endblock %}